PyPDF2
python-docx
pdf2docx
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-core
fastapi
uvicorn
requests
PyMuPDF
pymongo
chromadb
dotenv
transformers
torch
sentence-transformers